.stick_block_layer {
	background-image: url("pattern.png");
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.stick_popup {
	/* height: 200px; */
	width: 30%;
	box-shadow: 0px 0px 7px #4a4a4a;
	-moz-box-shadow: 0px 0px 7px #4a4a4a;
	-webkit-box-shadow: 0px 0px 7px #4a4a4a;
	/* background: #c4db34; */
	-webkit-animation: zoomin 0.7s;
	animation: zoomin 0.7s;
	text-align: center;
	overflow: hidden;
}
.stick_popup h1{
    font-size: 16px;
}
.stick_popup .mail-box{
    width: 73%;
    margin: auto;
    margin-top: 28px;
}
.stick_popup .mail-box input{
    border: none;
    height: 40px;
    float: left;
    padding: 0px 12px;
    width: 73%;
}
.stick_popup .mail-box button{
    width: 27%;
    border: none;
    background-color: #07afeb;
    color: #fff;
    height: 40px;
}

.stick_popup .mail-box button:hover{
   
   
    background-color: #069cd2;
    

}


.stick_content {
	padding: 0px;
}

.stick_close {
	cursor: pointer;
	position: absolute;
	top: 0px;
	/* left: 0px; */
	float: right;
	font-family: Arial;
	font-size: 17px;
	background-color: #e21d1d;
	color: #ffffff;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	right: 0;
}

/* 
CSS3 animation keyframes.
*/
@-webkit-keyframes zoomin {

	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	50% {
		-webkit-transform: scale(1.04);
		-ms-transform: scale(1.04);
		transform: scale(1.04);
		opacity: 1;
	}
  
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@-ms-keyframes zoomin {

	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	50% {
		-webkit-transform: scale(1.04);
		-ms-transform: scale(1.04);
		transform: scale(1.04);
		opacity: 1;
	}
  
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	
}
@keyframes zoomin {

	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	50% {
		-webkit-transform: scale(1.04);
		-ms-transform: scale(1.04);
		transform: scale(1.04);
		opacity: 1;
	}
  
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}