<div class="whychoose-us py-4">
	<div class="container">
		<div class="row g-3">
		<div class="col-12 col-md-4">
<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33 3C16.4315 3 3 16.4315 3 33C3 49.5687 16.4315 63 33 63C49.5687 63 63 49.5687 63 33C63 24.115 59.1373 16.1321 53 10.6389" stroke="#035273" stroke-width="5.27" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M49.6666 43C49.6666 46.682 46.682 49.6667 43 49.6667C39.318 49.6667 36.3333 46.682 36.3333 43C36.3333 39.318 39.318 36.3333 43 36.3333C46.682 36.3333 49.6666 39.318 49.6666 43Z" stroke="#035273" stroke-width="5.27" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.6667 46.3333L46.3333 19.6667" stroke="#035273" stroke-width="5.27" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M29.6666 23C29.6666 26.682 26.682 29.6667 23 29.6667C19.3181 29.6667 16.3333 26.682 16.3333 23C16.3333 19.3181 19.3181 16.3333 23 16.3333C26.682 16.3333 29.6666 19.3181 29.6666 23Z" stroke="#035273" stroke-width="5.27" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

<div>
<strong>Exciting Flight Deals</strong>
<span>Book your flight tickets with our travel experts within few minutes</span>
       </div>
       </div>
	   <div class="col-12 col-md-4">
	<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0ZM30 6.51855C42.9685 6.51855 53.4778 17.0348 53.4778 30C53.4778 42.9653 42.9685 53.4778 30 53.4778C17.0315 53.4778 6.5222 42.9653 6.5222 30C6.52225 17.0348 17.0315 6.51855 30 6.51855ZM41.4953 15.7544L24.1077 33.1457L18.468 27.5061L12.9346 33.0359L18.5742 38.6755L24.1443 44.2456L29.6741 38.7121L47.0654 21.3245L41.4953 15.7544Z" fill="#035273"/>
</svg>

<div>
<strong>Quick Reserving</strong>
<span>Get best deals & discounts on flights bookings, Book now and Save Big!</span>
       </div>
       </div>
	   <div class="col-12 col-md-4">
		<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_1_21" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="64" height="64">
<path d="M0 0H63.24V63.24H0V0Z" fill="white"/>
</mask>
<g mask="url(#mask0_1_21)">
<path d="M4.51714 36.1371C4.51714 18.0686 11.6947 3.50806 31.6211 3.50806C51.5112 3.50806 58.7228 18.0686 58.7228 36.1371" stroke="#035273" stroke-width="4.51714" stroke-linecap="round"/>
<path d="M4.51714 36.7811C4.51714 26.8444 11.4004 24.3602 14.842 24.3602C21.037 24.3602 22.5857 29.3285 22.5857 31.8127V41.7494C22.5857 47.7114 17.4232 49.2021 14.842 49.2021C11.4004 49.2021 4.51714 46.7177 4.51714 36.7811Z" fill="#D7E0FF" stroke="#035273" stroke-width="4.51714"/>
<path d="M58.7229 36.7811C58.7229 26.8444 51.8396 24.3602 48.398 24.3602C42.203 24.3602 40.6543 29.3285 40.6543 31.8127V41.7494C40.6543 47.7114 45.8169 49.2021 48.398 49.2021C51.8396 49.2021 58.7229 46.7177 58.7229 36.7811Z" fill="#D7E0FF" stroke="#035273" stroke-width="4.51714"/>
<path d="M58.7147 36.2706C58.7147 36.2706 59.919 52.005 52.6292 56.5515C45.3399 61.098 36.3321 59.0183 36.3321 59.0183" stroke="#035273" stroke-width="4.51714" stroke-linecap="round"/>
</g>
</svg>

<div>
<strong>24h Assistance</strong>
<span>Call Us <?= TFN ?> - Booking, Changes/Cancellation Or Assistance</span>
       </div>
       </div>
	   
 </div>
</div>
</div> 




<!-- <div class="container">
<div class="headingtxt hdadjt text-center mb-3">
        <h3 class="headh3 txt-ff txtc mb-0">Last Minute Flight Seals <span>SAVE UPTO 30%</span> On Your First Booking </h3>
            <span class="mxw lead text-center center-block txt-ff"><small>(Call Us For Urgent - Booking, Changes/Cancellation Or Assistance)</small></span>
</div>
<div class="us-festival owl-theme owl-carousel " id="owl-carousel2">
<a href="https://www.gofortaxis.com/halloween-day-flight-deals" title="Halloween Flight Deals - 2022" class="usa-festive">
<img src="frontend/imgl/halloween-flight-sale02.svg" class="img-fluid" alt="Halloween Flight Deals - 2022">
</a>
<a href="tel:+1 229-935-3336" title="Last Minute Flight Booking Deals"  class="usa-festive">
<img src="https://www.gofortaxis.com/frontend/imgl/gft01.svg" class="img-fluid" alt="Last Minute Flight Booking Service">
</a>			         
<a href="tel:+1 229-935-3336" title="Unpublished Flight Deals" class="usa-festive">
<img src="https://www.gofortaxis.com/frontend/imgl/gft03.svg" class="img-fluid" alt="Unpublished Flight Deals">
</a>	         
<a href="tel:+1 229-935-3336" title="Flight Booking, Changes/Cancellation or Assistance" class="usa-festive">
<img src="https://www.gofortaxis.com/frontend/imgl/gft02.svg" class="img-fluid" alt="Flight Booking, Changes/Cancellation or Assistance">
</a>

<a href="tel:+1 229-935-3336" title="Flight Booking Offers" class="usa-festive">
<img src="https://www.gofortaxis.com/frontend/imgl/gft04.svg" class="img-fluid" alt="Flight Booking Offers">
</a>

</div>
</div>-->
 
 
